@model DeGaverbeekProject.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" href="~/Content/aos.css" />
    <script src="~/Scripts/aos.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DeGaverbeekStore/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Login</title>
</head>
<body>
    <div class="transparent-bg"></div>
    <div class="loginScreen">
        <div class="row">
            <div class="outer">
                <div class="middle">
                        <div class="col-sm-12 logincol">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                            <img alt="login-placeholder" src="~/Content/Images/loginPlaceholder.png"/>
                            <input type="text" name="Email" id="Email" placeholder="Emailadres" class="TextBoxDesign" />
                            <input type="password" name="Password" id="Password" placeholder="Wachtwoord" class="TextBoxDesign" />
                            <div class="row">
                            <div class="col-sm-12 pwforgot no-padding"><a href="@Url.Action("ForgotPassword", "Account")">Wachtwoord vergeten?</a></div>
                            </div>


                            <button class="btn loginbtn" type="submit">AANMELDEN</button>
                            <a class="newUser" href="@Url.Action("Register", "Account")">Nog geen gebruiker? Vraag nu je account aan</a>
                           
                            }
                        </div>
                    </div>
                </div>
            </div>
                </div>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                <script>
                    AOS.init();
                </script>
</body>
</html>
