<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="brandlogo" src="~/Content/Images/logoSmall.png"/></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="valign-wrapper" style="width:fit-content;height:100%;float:right;">

                <ul class="right hide-on-med-and-down">
                    <li><b><a href="@Url.Action("Index","Home")">home</a></b></li>
                    <li><b><a href="@Url.Action("Products","Home")">producten</a></b></li>
                    <li><b><a href="@Url.Action("Contact","Home")">contact</a></b></li>
                    <li><b><a href="@Url.Action("Order","Home")">online bestellen</a></b></li>

                </ul>

            </div>
            

            <ul class="side-nav" id="mobile-demo">
                <li><b><a href="@Url.Action("Index","Home")">home</a></b></li>
                <li><b><a href="@Url.Action("Products","Home")">producten</a></b></li>
                <li><b><a href="@Url.Action("Contact","Home")">contact</a></b></li>
                <li><b><a href="@Url.Action("Order","Home")">online bestellen</a></b></li>

            </ul>

        </div>
    </nav>
    <div style="width:100vw;height:5px;background-color:#ff9000;padding:0;margin:0;"></div>

    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
