<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" href="~/Content/aos.css" />
    <script src="~/Scripts/aos.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <a id="calltarget" style="position:fixed;bottom:30px;left:30px;" onclick="callme()" class="waves-effect waves-light btn-large btn-floating"><i class="material-icons">local_phone</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="calltarget">
        <div class="tap-target-content">
            <h5>Heb je vragen?</h5>
            <div style="margin-bottom:15px;" class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success active"><i class="material-icons">local_phone</i></button>
                <button type="button" class="btn btn-default active">+32 93 84 03 06</button>
            </div>
            <div style="margin-bottom:20px;" class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success active"><i class="material-icons">local_printshop</i></button>
                <button type="button" class="btn btn-default active">+32 93 84 00 82</button>
            </div>
               
            
            </div>
    </div>

    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="valign-wrapper" style="height:100%; display:inline-block;">

                    <a href="#" class="brand-logo"><img class="brandlogo" src="~/Content/Images/logoSmall.png" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i style="line-height: 105px;" class="material-icons">menu</i></a>

                </div>

                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="@Url.Action("Zuur","Home")">Zuur</a></li>
                    <li><a href="@Url.Action("Zuivel","Home")">Zuivel</a></li>
                    <li><a href="@Url.Action("Wijn","Home")">Wijn</a></li>
                    <li><a href="@Url.Action("Vis","Home")">Vis</a></li>
                    <li><a href="@Url.Action("Suiker","Home")">Suiker</a></li>
                    <li><a href="@Url.Action("Kruiden","Home")">Kruiden</a></li>
                    <li><a href="@Url.Action("Deegwaren","Home")">Deeg</a></li>
                    <li><a href="@Url.Action("Conserven","Home")">Blikken</a></li>
                    <li><a href="@Url.Action("Olie","Home")">Olie</a></li>
                    <li><a href="@Url.Action("BakeOff","Home")">Bake-off</a></li>
                    <li><a href="@Url.Action("Beleg","Home")">Beleg</a></li>
                    <li><a href="@Url.Action("NonFood","Home")">Non-food</a></li>
                </ul>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="@Url.Action("Zuur","Home")">Zuur</a></li>
                    <li><a href="@Url.Action("Zuivel","Home")">Zuivel</a></li>
                    <li><a href="@Url.Action("Wijn","Home")">Wijn</a></li>
                    <li><a href="@Url.Action("Vis","Home")">Vis</a></li>
                    <li><a href="@Url.Action("Suiker","Home")">Suiker</a></li>
                    <li><a href="@Url.Action("Kruiden","Home")">Kruiden</a></li>
                    <li><a href="@Url.Action("Deegwaren","Home")">Deeg</a></li>
                    <li><a href="@Url.Action("Conserven","Home")">Blikken</a></li>
                    <li><a href="@Url.Action("Olie","Home")">Olie</a></li>
                    <li><a href="@Url.Action("BakeOff","Home")">Bake-off</a></li>
                    <li><a href="@Url.Action("Beleg","Home")">Beleg</a></li>
                    <li><a href="@Url.Action("NonFood","Home")">Non-food</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <div class="valign-wrapper" style="width:fit-content;height:100%;float:right; display:inline-block;line-height:100px;">
                        <li><b><a href="@Url.Action("Index","Home")">home</a></b></li>
                        <li><b><a class="dropdown-button" href="#!" data-activates="dropdown2">producten<i style="font-variant:initial; line-height:100px;" class="material-icons right">arrow_drop_down</i></a></b></li>
                        <li><b><a href="@Url.Action("Contact","Home")">contact</a></b></li>
                        <li><b><a class="modal-trigger" href="#modal1">online bestellen</a></b></li>
                    </div>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><b><a href="@Url.Action("Index","Home")">home</a></b></li>
                    <li><a class="dropdown-button" style="color:#fff;" href="#!" data-activates="dropdown1">producten<i style="font-variant:initial;color:#fff;" class="material-icons right">arrow_drop_down</i></a></li>
                    <li><b><a href="@Url.Action("Contact","Home")">contact</a></b></li>
                    <li><b><a class="modal-trigger" href="#modal1">online bestellen</a></b></li>
                </ul>





            </div>
        </nav>
    </header>

        <div style="width:100vw;height:5px;background-color:#ff9000;padding:0;margin:0;"></div>

    <main>
        @RenderBody()
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <br />
                    <br />
                    <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a><br />
                    ADD US ON FACEBOOK



                </div>

            </div>

        </div>
        <div class="footer-copyright">
            <div class="container">
                @DateTime.Today.Year - De Gaverbeek

            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        AOS.init();
    </script>
</body>
</html>
