@model DeGaverbeekProject.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Contact";
}


<div class="row" style="z-index:10;height:100%;width:100%;margin-bottom:0;background: #ebebeb;">
    <div class="col-lg-6 col-md-6 col-sm-6 contactleft" style="background-color:#101010;">
        <h3 style="text-align:center;">contacteer ons</h3>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="input-field col s12 form">
            <i class="material-icons prefix">account_circle</i>


            @Html.LabelFor(m => m.name, new { @for = "txtname", @style = "color:#ff9000;" })
            @Html.TextBoxFor(m => m.name, new { @class = "validate data-required", id = "txtname" })



        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="input-field col s12 form">
            <i class="material-icons prefix">email</i>


            @Html.LabelFor(m => m.emailaddress, new { @for = "txtemailaddress", @class = "data-errorEMAIL", @style = "color:#ff9000;" })
            @Html.TextBoxFor(m => m.emailaddress, new { @class = "validate data-required", @type = "email", id = "txtemailaddress" })



        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="input-field col s12 form">
            <i class="material-icons prefix">create</i>


            @Html.LabelFor(m => m.subject, new { @for = "txtsubject", @style = "color:#ff9000;" })
            @Html.TextBoxFor(m => m.subject, new { @class = "validate data-required", id = "txtsubject" })



        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="input-field col s12 form">
            <i class="material-icons prefix">message</i>


            @Html.LabelFor(m => m.message, new { @for = "txtmessage", @style = "color:#ff9000;" })
            @Html.TextAreaFor(m => m.message, new { @class = "materialize-textarea data-required", id = "txtmessage" })



        </div>
    </div>
    <div class="row" style="text-align:center;" data-aos="fade-up" data-aos-duration="1000">
        <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">send</i>Verzenden</button>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 contactright" style="padding-left:0;padding-right:0;">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.925826762928!2d3.6689255157486396!3d50.92508907954369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c30d1d13f621ef%3A0x4228b4fb6b3b6951!2sMolenstraat+88%2C+9890+Gavere!5e0!3m2!1snl!2sbe!4v1510630679621" width="600" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
    </div>
   


    </div>