@model DeGaverbeekProject.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/Images/voorbeeldimg1.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">EEN SNELLE SERVICE</h3>
                <h5>KWALITEIT OP TIJD</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg2.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">GEROOKTE VIS</h3>
                <h5>UITGEBREID ASSORTIMENT GEROOKTE VIS</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg3.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">BAKKERIJ</h3>
                <h5>GROOT AANBOD AFBAKPRODUCTEN</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg4.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="light grey-text text-lighten-3">ZUIVELAFDELING</h3>
                <h5>UITGEBREID AANBOD</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg5.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="light grey-text text-lighten-3">DROGE VOEDING</h3>
                <h5>VERSCHILLENDE SOORTEN DROGE VOEDING</h5>
            </div>
        </li>
    </ul>
</div>
<div style="width:100vw;height:5px;background-color:#ff9000;padding:0;margin:0;"></div>
<div class="pointerdiv" style="height:40px;"></div>
<div class="row" style="text-align:center;">
    <br />
    <img src="~/Content/Images/Welcome.png" style="width:20rem;"/>
    <br />
</div>
<div class="row welcome" style="z-index:10;">
    @*<div class="valign-wrapper">*@
        <div class="col-md-6">
            <div class="welcome_left">
                <h5 style="font-variant:small-caps;text-align:center;">OP ZOEK NAAR HORECALEVERANCIER?</h5>
                <ul>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Kwaliteitsproducten</li>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Versheid</li>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Stiptheid</li>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Klantvriendelijk</li>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Moderne infrastructuur</li>
                    <li><i class="material-icons left" style="color:#ff9000">check</i>Uitgebreid assortiment</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div  class="welcome_right">
                @*<div class="valign-wrapper">*@
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-left" data-aos-duration="1000"><div class="valign-wrapper"><a href="@Url.Action("Zuur","Home")">Zuur</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"><div class="valign-wrapper"><a href="@Url.Action("Zuivel","Home")">Zuivel</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400"><div class="valign-wrapper"><a href="@Url.Action("Wijn","Home")">Wijn</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1800"><div class="valign-wrapper"><a href="@Url.Action("Vis","Home")">Vis</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="2000"><div class="valign-wrapper"><a href="@Url.Action("Suiker","Home")">Suiker</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600"><div class="valign-wrapper"><a href="@Url.Action("Kruiden","Home")">Kruiden</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1600"><div class="valign-wrapper"><a href="@Url.Action("Deegwaren","Home")">Deeg</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="2200"><div class="valign-wrapper"><a href="@Url.Action("Conserven","Home")">Blikken</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="800"><div class="valign-wrapper"><a href="@Url.Action("Olie","Home")">Olie</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1400"><div class="valign-wrapper"><a href="@Url.Action("BakeOff","Home")">Bake-off</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200"><div class="valign-wrapper"><a href="@Url.Action("Beleg","Home")">Beleg</a></div></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product hoverable" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1000"><div class="valign-wrapper"><a href="@Url.Action("NonFood","Home")">Non-food</a></div></div>
                </div>
            @*</div>*@
        </div>
    </div>
@*</div>*@
<br />
<br />
<div class="pointerWhite"></div>
<div class="row" style="z-index:9;background-color:#505050;margin-bottom:0;padding:25px 0;">
    <br />
    <br />
    <h2>Online bestellen</h2>
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Bestelsysteem under construction</h4>
            <p>Het bestelsysteem is nog in de ontwikkelingsfase en kan dus nog niet gebruikt worden.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>
<div class="col-lg-7 col-md-7" style="padding:0;">
    <div id="shopleft" data-aos="fade-up" data-aos-duration="1000">
        <h5 style="text-align:center;">VRAAG EEN ACCOUNT AAN VOOR HET ONLINE BESTELPLATFORM</h5>
        <p>Via ons online bestelplatform kan je producten bestellen en laten leveren. Deze services is enkel voor B2B dus particulieren kunnen hier geen gebruik van maken. Om te starten moet je een gebruikersaccount aanvragen die dan wordt goedgekeurd.</p>
        
        <a href="#modal1" class="waves-effect waves-light btn-large modal-trigger" style="background-color:#ff9000;width:100%;"><i class="material-icons left">account_circle</i>ACCOUNT AANVRAGEN</a>
        <p style="text-align:center;margin-top:15px;" class="mobileAanmelden"><a class="modal-trigger" href="#modal1" style="color:#ff9000;">Reeds een account? Meld je hier aan.</a></p>
    </div>
</div>
<div class="col-lg-5 col-md-5" style="padding:0;">
    <div id="shopright" data-aos="fade-up" data-aos-duration="1000">
        <a  class="modal-trigger" href="#modal1">
            <div class="filter-black">
                <div class="shoprightbutton">
                    <div class="center-logo">
                        <i style="color:#fff;" class="material-icons large">shopping_cart</i>
                        <br /><span style="color:#fff; font-size:large">AANMELDEN</span>
                    </div>


                </div>
            </div>
        </a>
    </div>
</div>
</div>
<div class="pointerGreyDark" style="background-color:#505050;"></div>
<div class="row" style="z-index:8;background-color:#ffffff;margin-bottom:0;">
    <br />
    <br />
    <h2>Folder</h2>
    <style>
        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style><div class='embed-container' data-page-width='452' data-page-height='640' id='ypembedcontainer'><iframe width="620px" height="566px" src="https://www.yumpu.com/nl/embed/view/8Z57Q4iLHJYnyNbE" frameborder="0" allowfullscreen="true"  allowtransparency="true"></iframe></div>
    <script src='https://players.yumpu.com/modules/embed/yp_r_iframe.js'></script>
</div>
<div class="pointerWhite"></div>
<div class="row" style="z-index:7;background-color:#EBEBEB;margin-bottom:0;">
    <br />
    <br />
    <h2>Contact</h2>
    <div class="contactform">
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="input-field col s12 form">
                <i class="material-icons prefix" >account_circle</i>


                @Html.LabelFor(m => m.name, new { @for = "txtname", @style = "color:#ff9000;" })
                @Html.TextBoxFor(m => m.name, new { @class = "validate data-required", id = "txtname" })



            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="input-field col s12 form">
                <i class="material-icons prefix" >email</i>


                @Html.LabelFor(m => m.emailaddress, new { @for = "txtemailaddress", @class = "data-errorEMAIL", @style = "color:#ff9000;" })
                @Html.TextBoxFor(m => m.emailaddress, new { @class = "validate data-required", @type = "email", id = "txtemailaddress" })



            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="input-field col s12 form">
                <i class="material-icons prefix" >create</i>


                @Html.LabelFor(m => m.subject, new { @for = "txtsubject", @style = "color:#ff9000;" })
                @Html.TextBoxFor(m => m.subject, new { @class = "validate data-required", id = "txtsubject" })



            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="input-field col s12 form">
                <i class="material-icons prefix">message</i>


                @Html.LabelFor(m => m.message, new { @for = "txtmessage", @style = "color:#ff9000;" })
                @Html.TextAreaFor(m => m.message, new { @class = "materialize-textarea data-required", id = "txtmessage" })



            </div>
        </div>
        <div class="row" style="text-align:center;" data-aos="fade-up" data-aos-duration="1000">
            <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">send</i>Verzenden</button>
        </div>
    </div>
    <br />
    <br />
    </div>
<div class="pointerGrey"></div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('video').mediaelementplayer({
                    alwaysShowControls: false,
                    videoVolume: 'horizontal',
                    features: ['playpause', 'progress', 'volume', 'fullscreen']
                });
            });
        </script>
    }


